body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #666666;
    overflow-x: hidden;
}
.messageWrapper {
    width: 80%;
    margin: auto;
    font-size: 50px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.tm-tag-line {
    margin-bottom: 60px;
    position: relative;
    height: 60ch;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(http://www.tooplate.com/templates/2101_insertion/img/insertion-1800x450.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.tm-tag-line-title {
    font-size: 100px;
    color: white;
    position: relative;
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
.bottomP {
    margin-bottom: 0;
}